<main class="container">
  <h1 class="container__title"> Reverse the words </h1>
  <div>
    <div class="container__input-group">
      <label for="text">Insert text to reverse</label>
      <input class="input-group__input" [formControl]="textToConvert" type="text" name="text" id="text">
    </div>
    <div class="container__method">
      <select class="method__select" [formControl]="methodToConvert" name="method" id="method">
        <option [value]="1"> First method </option>
        <option [value]="2"> Second method </option>
      </select>
    </div>
    <div class="container__action">
      <button class="action__btn" (click)="convertText()">
        Convert
      </button>
    </div>
    <div class="conatiner__result">
      <span *ngIf="textConverted && textConverted.length > 0"> <b>Result-> </b> {{ textConverted }}</span>
    </div>
  </div>
</main>